<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>169510976247-7mglae5o19teaf712v4ouep9d4r9phrb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.169510976247-7mglae5o19teaf712v4ouep9d4r9phrb</string>
	<key>API_KEY</key>
	<string>AIzaSyAZIc_0h9TXFln5nbrmaULPcF1gMnf5oMM</string>
	<key>GCM_SENDER_ID</key>
	<string>169510976247</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>na.oshimin.mobile.jobsfee</string>
	<key>PROJECT_ID</key>
	<string>jobfee-e27d5</string>
	<key>STORAGE_BUCKET</key>
	<string>jobfee-e27d5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:169510976247:ios:f9fb1636bdf74c57</string>
	<key>DATABASE_URL</key>
	<string>https://jobfee-e27d5.firebaseio.com</string>
</dict>
</plist>